[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
dj-database-url = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-cleanup = "*"

[dev-packages]
pylint-django = "*"
pycodestyle = "*"
flake8 = "*"
black = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
