* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("/media/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.navbar.navbar-dark form .md-form input:focus:not([readonly]) {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.discover-button {
  background-color: #ffb766;
  font-size: 1.5rem;
}

.navbar .nav-item .nav-link {
  font-size: 1rem;
}

.navbar .form-control {
  font-size: 1rem;
}

.white-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}
