@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("/media/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.navbar.navbar-dark form .md-form input:focus:not([readonly]) {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  padding: 0.5rem 1.6rem;
  font-size: 0.74rem !important;
  color: #2f2f2f !important;
  font-weight: 500 !important;
}

.btn-go {
  background-color: #ead9f2;
}

.btn-back {
  background-color: #e8f3c1;
}

.btn-delete {
  background-color: #ffb766;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btn.discover-button {
  background-color: #7c981d;
  font-size: 1.5rem !important;
  color: white !important;
}

.navbar .nav-item .nav-link {
  font-size: 1rem;
}

.navbar .form-control {
  font-size: 1rem;
}

.navbar .dropdown-menu a:not(.active):hover,
.navbar .dropdown-menu a.active:hover {
  color: #a6c !important;
  font-weight: 600 !important;
  background-color: #570e0e !important;
}

.navbar .dropdown-menu .dropdown-item.waves-light:hover {
  background-color: white !important;
}

.white-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

.card-img-top {
  height: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.spacer {
  height: 140px;
}

.card-title {
  height: 3rem;
}

.collapse-content .fas.fa-heart:hover {
  color: #f44336 !important;
}

.collapse-content .fas.fa-share-alt:hover {
  color: #1170ff !important;
}

.form-check {
  padding-left: 0;
}

.image-recipe {
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-description {
  margin-bottom: 2rem;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.instructions-title {
  line-height: 3rem;
  border-top: #ff8700 1px solid;
  border-bottom: #ff8700 1px solid;
  padding-top: 2rem;
  margin-top: 2rem;
}

.recipe-instructions {
  font-size: 1.2rem;
  padding: 20px 0;
}

.recipe-title {
  font-weight: 600;
  margin-bottom: 20px;
  color: #cc6c00;
}

.recipe-details {
  font-size: .9rem;
  text-align: center;
}

.search-placeholder::-webkit-input-placeholder {
  color: #c7c7c7 !important;
}

.search-placeholder:-ms-input-placeholder {
  color: #c7c7c7 !important;
}

.search-placeholder::-ms-input-placeholder {
  color: #c7c7c7 !important;
}

.search-placeholder::placeholder {
  color: #c7c7c7 !important;
}

.pagination .page-item.active .page-link {
  background-color: #ff8700;
  color: #000;
}
