* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("/media/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar.navbar-dark form .md-form input:focus:not([readonly]) {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.discover-button {
  background-color: #ffb766;
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem 1.6rem;
  font-size: 0.64rem;
}

.btn-go {
  background-color: #ead9f2;
}

.btn-back {
  background-color: #e8f3c1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.navbar .nav-item .nav-link {
  font-size: 1rem;
}

.navbar .form-control {
  font-size: 1rem;
}

.white-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

.card-img-top {
  height: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.spacer {
  height: 140px;
}

.card-title {
  height: 3rem;
}
